$feather: #eee;
$bodytext: #444;
$gentletext: #888;
$verygentletext: #888;
$heavytext: #111;
$pagecolor: #fff;


html, body {
  margin: 0;
  padding: 0;
}

body {

  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: $bodytext;
}


a:link,
a:visited {
  text-decoration: none;
  color: gray;
}

header,
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  font-size: 0.7em;
  color: $gentletext;
}
header {
  border-bottom: solid 1px $feather;
}
footer {
  margin-top: 6em;
  border-top: solid 1px $feather;
}


.container {
  max-width: 1300px;
  padding: 15px;
  margin: 0 auto; 
}


.post-content img {
  width: 100%;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.box {
  width: 33.33%;
}
.col {
  display: flex;
  padding: 0 20px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  transition: opacity .2s;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
    transition: transform .3s,background-color .3s,box-shadow .4s;  
 }
.grid-item:hover {
	cursor: pointer;
	opacity: .9;
	box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
}
.grid-item img {
  width: 100%;
  display: block;
  max-height: 150px;
  object-fit: cover;
}
.grid-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem;
}
.grid-item-content .heading {
  margin-top: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #303030;
}


.box:nth-of-type(4), .box:nth-of-type(5), .box:nth-of-type(9), .box:nth-of-type(10), .box:nth-of-type(14), .box:nth-of-type(15), .box:nth-of-type(19), .box:nth-of-type(20), .box:nth-of-type(24), .box:nth-of-type(25), .box:nth-of-type(29), .box:nth-of-type(30), .box:nth-of-type(34), .box:nth-of-type(35), .box:nth-of-type(39), .box:nth-of-type(40), .box:nth-of-type(44), .box:nth-of-type(45), .box:nth-of-type(49), .box:nth-of-type(50), .box:nth-of-type(54), .box:nth-of-type(55), .box:nth-of-type(59), .box:nth-of-type(60), .box:nth-of-type(64), .box:nth-of-type(65), .box:nth-of-type(69), .box:nth-of-type(70), .box:nth-of-type(74), .box:nth-of-type(75), .box:nth-of-type(79), .box:nth-of-type(80), .box:nth-of-type(84), .box:nth-of-type(85), .box:nth-of-type(89), .box:nth-of-type(90), .box:nth-of-type(94), .box:nth-of-type(95), .box:nth-of-type(99), .box:nth-of-type(100) {
   width: 50%; 
}

@media all and (max-width: 800px) {
	.box {
		width: 100%;
}
.box:nth-of-type(4), .box:nth-of-type(5), .box:nth-of-type(9), .box:nth-of-type(10), .box:nth-of-type(14), .box:nth-of-type(15), .box:nth-of-type(19), .box:nth-of-type(20), .box:nth-of-type(24), .box:nth-of-type(25), .box:nth-of-type(29), .box:nth-of-type(30), .box:nth-of-type(34), .box:nth-of-type(35), .box:nth-of-type(39), .box:nth-of-type(40), .box:nth-of-type(44), .box:nth-of-type(45), .box:nth-of-type(49), .box:nth-of-type(50), .box:nth-of-type(54), .box:nth-of-type(55), .box:nth-of-type(59), .box:nth-of-type(60), .box:nth-of-type(64), .box:nth-of-type(65), .box:nth-of-type(69), .box:nth-of-type(70), .box:nth-of-type(74), .box:nth-of-type(75), .box:nth-of-type(79), .box:nth-of-type(80), .box:nth-of-type(84), .box:nth-of-type(85), .box:nth-of-type(89), .box:nth-of-type(90), .box:nth-of-type(94), .box:nth-of-type(95), .box:nth-of-type(99), .box:nth-of-type(100) {
   width: 100%;
}
}




h2,h3,h4 {
  font-family: sans-serif;
  line-height: 1.1;
  color: $heavytext;
}

h2 {
  font-size: 34px;
  letter-spacing: -.01em;
  small {
    font-size: 0.5em;
    font-weight: normal;
    color: $gentletext;
  }
}

h3 {
  margin-top: 2em;
}



