*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  color: #303030;
}
body {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #303030;
}
.logo {
  font-size: 10px;
  font-weight: 400;
}
header,
footer {
  font-size: 1em;
}
.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto; 
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.box {
  width: 33.33%;
}
.col {
  display: flex;
  padding: 0 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
 }
.grid-item:hover {
  cursor: pointer;
}
.grid-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.grid-item-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
	z-index: 2;
}
.date-title-home {
  font-size: 12px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: gray;
}
.date-title {
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: gray;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}
.content p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 28px;
  color: #424243;
}

.content img {
    margin-bottom: 30px;
    max-height: 250px;
    object-fit: cover;
    width: 140%;
    margin-left: -120px;
    filter: grayscale(100%);
}

h1, h2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 8px;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 42px;
    font-weight: 500;
    line-height: 42px;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.box:nth-of-type(4), .box:nth-of-type(5), .box:nth-of-type(9), .box:nth-of-type(10), .box:nth-of-type(14), .box:nth-of-type(15), .box:nth-of-type(19), .box:nth-of-type(20), .box:nth-of-type(24), .box:nth-of-type(25), .box:nth-of-type(29), .box:nth-of-type(30), .box:nth-of-type(34), .box:nth-of-type(35), .box:nth-of-type(39), .box:nth-of-type(40), .box:nth-of-type(44), .box:nth-of-type(45), .box:nth-of-type(49), .box:nth-of-type(50), .box:nth-of-type(54), .box:nth-of-type(55), .box:nth-of-type(59), .box:nth-of-type(60), .box:nth-of-type(64), .box:nth-of-type(65), .box:nth-of-type(69), .box:nth-of-type(70), .box:nth-of-type(74), .box:nth-of-type(75), .box:nth-of-type(79), .box:nth-of-type(80), .box:nth-of-type(84), .box:nth-of-type(85), .box:nth-of-type(89), .box:nth-of-type(90), .box:nth-of-type(94), .box:nth-of-type(95), .box:nth-of-type(99), .box:nth-of-type(100) {
   width: 50%; 
}

@media all and (max-width: 800px) {
.box {
   width: 100%;
}
.box:nth-of-type(4), .box:nth-of-type(5), .box:nth-of-type(9), .box:nth-of-type(10), .box:nth-of-type(14), .box:nth-of-type(15), .box:nth-of-type(19), .box:nth-of-type(20), .box:nth-of-type(24), .box:nth-of-type(25), .box:nth-of-type(29), .box:nth-of-type(30), .box:nth-of-type(34), .box:nth-of-type(35), .box:nth-of-type(39), .box:nth-of-type(40), .box:nth-of-type(44), .box:nth-of-type(45), .box:nth-of-type(49), .box:nth-of-type(50), .box:nth-of-type(54), .box:nth-of-type(55), .box:nth-of-type(59), .box:nth-of-type(60), .box:nth-of-type(64), .box:nth-of-type(65), .box:nth-of-type(69), .box:nth-of-type(70), .box:nth-of-type(74), .box:nth-of-type(75), .box:nth-of-type(79), .box:nth-of-type(80), .box:nth-of-type(84), .box:nth-of-type(85), .box:nth-of-type(89), .box:nth-of-type(90), .box:nth-of-type(94), .box:nth-of-type(95), .box:nth-of-type(99), .box:nth-of-type(100) {
   width: 100%;
}
.grid-item {
    margin-bottom: 0.5rem;
}
}
.grid p, .grid table{display:none}
.grid p:nth-child(1) {
	display:block;
	margin:0;
}

.box:nth-of-type(2) h2, .box:nth-of-type(4) h2, .box:nth-of-type(8) h2, .box:nth-of-type(9) h2, .box:nth-of-type(13) h2, .box:nth-of-type(14) h2, .box:nth-of-type(17) h2, .box:nth-of-type(8) h2 {
   font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 28px;
    font-weight: 600;
}

@media only screen and (min-width: 64em) {
.box:nth-of-type(4) img, .box:nth-of-type(5) img {
       margin-bottom: -200px;
    max-height: 350px;
	
}
 .box:nth-of-type(4) .gradient, .box:nth-of-type(5) .gradient {
    background-image: linear-gradient(180deg, transparent, #000000d1);
    height: 280px;
    margin-top: -250px;
}
	
 .box:nth-of-type(4) h2, .box:nth-of-type(5) h2 {
    color: #fff;
    font-size: 25px;
	 
}
.box:nth-of-type(4) .date-title-home, .box:nth-of-type(5) .date-title-home {
   color: #fff;
   opacity: .7;
}
}

.box:nth-of-type(1) img, .box:nth-of-type(2) img, .box:nth-of-type(3) img {
   display: none;
}

