<!DOCTYPE html><html lang="uk"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><style>{% include "css/styles.css" %}</style><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>{{ item.title }}</title><meta property="og:title" content="{{ item.title }}"><meta property="og:type" content="{{ item.description }}"><meta property="og:url" content="{{ item.path }}"><link rel="icon" href="/img/favicon.png"><link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"><link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"><link rel="manifest" href="/img/manifest.json"></head>
<body><header><div class="container"><a href="/" class="logo">TEXTY</a></div></header><div class="container">{{ content | safe }}</div><footer><div class="container">© 2019 TEXTY</div></footer></body></html>
