---
layout: layouts/base.njk
title: Articles from Medium
---


<div class="grid">
{% for item in medium.posts %}
  <div class="col box">
  <a class="grid-item" href="/{{ item.path }}">
  {{ item['content:encoded'] | safe }}
    <div class="grid-item-content">
    <div class="date-title"> {{ item.pubDate | date }} by {{ item['dc:creator'] }}</div>
    <h1 class="heading">{{ item.title }}</h1>
    </div>
   </a>
  </div>
 {% endfor %}
</div>
