---
layout: layouts/base.njk
title: Articles from Medium
---


<ul class="listing">
{% for item in medium.posts %}
  <li>
    <p class="meta">Published on {{ item.pubDate | date }} by {{ item['dc:creator'] }}</p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
   {{ item['content:encoded'] | safe }}
  </li>
 {% endfor %}
</ul>
