---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 1
  alias: item
permalink: /{{ item.path }}/index.html
---
<div class="content"><h1>{{ item.title }}</h1><div class="date-title">{{ item.pubDate | date }} Джерело: {{ item.category }}</div><img src="{{ item['content:encoded'] }}"></div><div class="sidebar">Цивільна дружина народного депутата від «Опозиційної платформи – За життя» Тараса Козака Наталія Лавренюк має спільний нафтовий бізнес у Росії з подружжям Оксани Марченко і Віктора Медведчука і численне майно в Україні, водночас парламентар не згадує про неї у своїй декларації. Про це йдеться в розслідуванні програми «Схеми: корупція в деталях» (спільний проект Радіо Свобода і телеканалу «UA:Перший») – «У російському бізнесі тільки дівчата».</div>
