---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 1
  alias: item
permalink: /{{ item.path }}/index.html
---

<div class="date-title">{{ item.pubDate | date }} <br/>вiд {{ item.category }}</div>
<h1 class="heading">{{ item.title }}</h1>
<div class="grid-item-content">
  {{ item['content:encoded'] | safe }}
</div>

