---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 1
  alias: item
permalink: /{{ item.path }}/index.html
---
<div class="content"><h1>{{ item.title }}</h1><div class="date-title">{{ item.pubDate | date }} Джерело: {{ item.category }}</div>{{ item['content:encoded'] | safe }}</div><div class="content right"><img src="http://texty.3.120.187.86.xip.io/wp-content/uploads/sites/5/2019/10/25235.png"></div>
